Repository G-Research/fasttrackml, pull requests merged in 2023-11, with the labels that each got.

#551 Miscellaneous tooling improvements
  .devcontainer/Dockerfile
  .github/workflows/ci.yml
  Makefile
Labels: ci

#552 Properly save and restore the Go build cache in our CI
  .github/actions/setup-go/action.yml
  .github/workflows/ci.yml
Labels: ci

#553 Save and restore the `golangci-lint` cache in our CI
  .github/workflows/ci.yml
  .golangci.yml
Labels: ci

#554 Improve Docker image building
  .dockerignore
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Dockerfile
  Makefile
Labels: ci

#555 Improve Aim Python integration tests
  .github/workflows/ci.yml
  pkg/api/aim/projects.go
  pkg/api/aim/runs.go
  tests/integration/python/aim/custom.patch
  tests/integration/python/aim/test.sh
Labels: tests, python, ci

#556 Better isolation for the Python integration tests via Dagger
  .github/workflows/ci.yml
  Makefile
  go.mod
  go.sum
  tests/integration/python/aim.patch
  tests/integration/python/aim/test.sh
  tests/integration/python/aim/version
  tests/integration/python/config.json
  tests/integration/python/main.go
  tests/integration/python/mlflow.patch
  tests/integration/python/mlflow/test.sh
  tests/integration/python/mlflow/version
Labels: tests, python, ci

#548 MLFlow namespace integration tests.
  tests/integration/golang/helpers/test.go
  tests/integration/golang/mlflow/namespace/flows/artifact_test.go
  tests/integration/golang/mlflow/namespace/flows/experiment_test.go
  tests/integration/golang/mlflow/namespace/flows/metric_test.go
  tests/integration/golang/mlflow/namespace/flows/run_test.go
  tests/integration/golang/mlflow/namespace/namespace_test.go
Labels: tests

#582 Integration tests improvements
  tests/integration/golang/helpers/client.go
  tests/integration/golang/mlflow/artifact/get_artifact_s3_test.go
  tests/integration/golang/mlflow/artifact/list_s3_test.go
  tests/integration/golang/mlflow/metric/get_histories_test.go
  tests/integration/golang/mlflow/metric/get_history_bulk_test.go
  tests/integration/golang/mlflow/metric/get_history_test.go
  tests/integration/golang/mlflow/run/create_test.go
  tests/integration/golang/mlflow/run/delete_test.go
  tests/integration/golang/mlflow/run/get_test.go
  tests/integration/golang/mlflow/run/log_parameter_test.go
  tests/integration/golang/mlflow/run/restore_test.go
  tests/integration/golang/mlflow/run/set_tag_test.go
  tests/integration/golang/mlflow/run/update_test.go
Labels: tests

#583 Namespace integration for get artifacts endpoint
  pkg/api/mlflow/controller/artifact.go
  pkg/api/mlflow/service/artifact/service.go
  pkg/api/mlflow/service/artifact/service_test.go
  tests/integration/golang/mlflow/namespace/flows/artifact_test.go
Labels: tests

#591 [release/0.3] Permit duplicate param logging
  pkg/api/mlflow/dao/repositories/helpers.go
  pkg/api/mlflow/dao/repositories/helpers_test.go
  pkg/api/mlflow/dao/repositories/param.go
  pkg/api/mlflow/service/run/service.go
  pkg/api/mlflow/service/run/service_test.go
  tests/integration/golang/fixtures/param.go
  tests/integration/golang/mlflow/run/log_batch_test.go
  tests/integration/golang/mlflow/run/log_parameter_test.go
Labels: bug

#595 Use `require` instead of `assert` for checking errors in tests
  pkg/api/mlflow/service/artifact/service_test.go
  tests/integration/golang/database/migrate_test.go
  tests/integration/golang/mlflow/artifact/get_artifact_s3_test.go
  tests/integration/golang/mlflow/metric/get_histories_test.go
  tests/integration/golang/mlflow/metric/get_history_bulk_test.go
  tests/integration/golang/mlflow/metric/get_history_test.go
  tests/integration/golang/mlflow/namespace/flows/artifact_test.go
  tests/integration/golang/mlflow/namespace/flows/experiment_test.go
  tests/integration/golang/mlflow/namespace/flows/metric_test.go
  tests/integration/golang/mlflow/namespace/flows/run_test.go
  tests/integration/golang/mlflow/namespace/namespace_test.go
  tests/integration/golang/mlflow/run/create_test.go
  tests/integration/golang/mlflow/run/delete_test.go
  tests/integration/golang/mlflow/run/get_test.go
  tests/integration/golang/mlflow/run/log_parameter_test.go
  tests/integration/golang/mlflow/run/restore_test.go
  tests/integration/golang/mlflow/run/set_tag_test.go
  tests/integration/golang/mlflow/run/update_test.go
Labels: tests

#598 Fix v_0003 historical model and unify non-DB code between historical models
  pkg/database/migrations/v_0001/model.go
  pkg/database/migrations/v_0002/model.go
  pkg/database/migrations/v_0003/model.go
  pkg/database/migrations/v_0004/model.go
  pkg/database/migrations/v_0005/model.go
Labels: bug

#613 Integration tests improvements.
  tests/integration/golang/mlflow/artifact/get_artifact_gs_test.go
  tests/integration/golang/mlflow/artifact/get_artifact_local_test.go
  tests/integration/golang/mlflow/artifact/get_artifact_s3_test.go
  tests/integration/golang/mlflow/artifact/list_gs_test.go
  tests/integration/golang/mlflow/artifact/list_local_test.go
  tests/integration/golang/mlflow/artifact/list_s3_test.go
  tests/integration/golang/mlflow/experiment/create_test.go
  tests/integration/golang/mlflow/experiment/delete_test.go
  tests/integration/golang/mlflow/experiment/get_by_name_test.go
  tests/integration/golang/mlflow/experiment/get_test.go
  tests/integration/golang/mlflow/experiment/restore_test.go
  tests/integration/golang/mlflow/experiment/search_test.go
  tests/integration/golang/mlflow/experiment/set_experiment_tag_test.go
  tests/integration/golang/mlflow/experiment/update_test.go
  tests/integration/golang/mlflow/metric/get_histories_test.go
  tests/integration/golang/mlflow/metric/get_history_bulk_test.go
  tests/integration/golang/mlflow/metric/get_history_test.go
  tests/integration/golang/mlflow/namespace/flows/artifact_test.go
  tests/integration/golang/mlflow/namespace/flows/experiment_test.go
  tests/integration/golang/mlflow/namespace/flows/metric_test.go
  tests/integration/golang/mlflow/namespace/flows/run_test.go
  tests/integration/golang/mlflow/namespace/namespace_test.go
  tests/integration/golang/mlflow/run/create_test.go
  tests/integration/golang/mlflow/run/delete_tag_test.go
  tests/integration/golang/mlflow/run/delete_test.go
  tests/integration/golang/mlflow/run/get_test.go
  tests/integration/golang/mlflow/run/log_batch_test.go
  tests/integration/golang/mlflow/run/log_metric_test.go
  tests/integration/golang/mlflow/run/log_parameter_test.go
  tests/integration/golang/mlflow/run/restore_test.go
  tests/integration/golang/mlflow/run/search_test.go
  tests/integration/golang/mlflow/run/set_tag_test.go
  tests/integration/golang/mlflow/run/update_test.go
Labels: tests

#627 Fix timestamp types in Aim integration tests
  pkg/api/aim/response/run.go
  tests/integration/golang/aim/app/create_app_test.go
  tests/integration/golang/aim/app/get_apps_test.go
  tests/integration/golang/aim/run/get_run_info_test.go
  tests/integration/golang/aim/run/get_runs_active_test.go
Labels: tests

#632 Use a consistent test style in migration tests
  tests/integration/golang/database/migrate_test.go
Labels: tests

#633 Improve the style of the import tests
  tests/integration/golang/database/import_test.go
Labels: tests

#578 Display and Update experiment description in aim UI
  pkg/api/aim/experiments.go
  pkg/api/aim/request/experiment.go
  pkg/api/aim/routes.go
  pkg/api/mlflow/common/constants.go
  pkg/api/mlflow/dao/repositories/experiment.go
  pkg/api/mlflow/dao/repositories/mock_experiment_repository_provider.go
  tests/integration/golang/aim/experiment/get_experiment_test.go
  tests/integration/golang/aim/experiment/get_experiments_test.go
  tests/integration/golang/helpers/experiment.go
Labels: enhancement, go

#642 Improve consistency between bucket storage provider test helpers
  tests/integration/golang/helpers/gs.go
  tests/integration/golang/helpers/s3.go
  tests/integration/golang/mlflow/artifact/get_artifact_s3_test.go
  tests/integration/golang/mlflow/artifact/list_s3_test.go
  tests/integration/golang/mlflow/namespace/flows/artifact_test.go
Labels: tests

#643 Cleanup experiment creation code in integration tests
  tests/integration/golang/aim/experiment/delete_test.go
  tests/integration/golang/aim/experiment/get_experiment_test.go
  tests/integration/golang/aim/experiment/get_experiments_test.go
  tests/integration/golang/aim/namespace/flows/experiment_test.go
  tests/integration/golang/aim/namespace/flows/metric_test.go
  tests/integration/golang/aim/namespace/flows/project_test.go
  tests/integration/golang/aim/namespace/flows/run_test.go
  tests/integration/golang/mlflow/artifact/list_gs_test.go
  tests/integration/golang/mlflow/artifact/list_local_test.go
  tests/integration/golang/mlflow/artifact/list_s3_test.go
  tests/integration/golang/mlflow/experiment/delete_test.go
  tests/integration/golang/mlflow/experiment/restore_test.go
  tests/integration/golang/mlflow/experiment/search_test.go
  tests/integration/golang/mlflow/experiment/set_experiment_tag_test.go
  tests/integration/golang/mlflow/experiment/update_test.go
  tests/integration/golang/mlflow/metric/get_histories_test.go
  tests/integration/golang/mlflow/metric/get_history_bulk_test.go
  tests/integration/golang/mlflow/metric/get_history_test.go
  tests/integration/golang/mlflow/namespace/flows/experiment_test.go
  tests/integration/golang/mlflow/namespace/flows/metric_test.go
  tests/integration/golang/mlflow/namespace/flows/run_test.go
Labels: tests

#644 Miscellaneous improvements to integration tests
  tests/integration/golang/aim/experiment/get_experiment_test.go
  tests/integration/golang/aim/experiment/get_experiments_test.go
  tests/integration/golang/aim/project/get_project_test.go
  tests/integration/golang/aim/run/get_run_info_test.go
  tests/integration/golang/mlflow/artifact/list_gs_test.go
  tests/integration/golang/mlflow/artifact/list_s3_test.go
  tests/integration/golang/mlflow/experiment/create_test.go
  tests/integration/golang/mlflow/experiment/get_by_name_test.go
  tests/integration/golang/mlflow/experiment/get_test.go
  tests/integration/golang/mlflow/metric/get_histories_test.go
  tests/integration/golang/mlflow/run/delete_tag_test.go
  tests/integration/golang/mlflow/run/delete_test.go
  tests/integration/golang/mlflow/run/get_test.go
Labels: tests

#646 Default experiments should be named "Default"
  pkg/api/admin/service/namespace/service.go
Labels: enhancement
