Repository G-Research/fasttrackml, pull requests merged in 2023-08, with the labels that each got.

#188 Fix issue with logging batch metrics
  pkg/api/mlflow/dao/repositories/metric.go
  pkg/cmd/server.go
  tests/integration/golang/mlflow/run/log_batch_test.go
Labels: bug

#171 Add ability to use regular expressions in Aim search queries
  go.mod
  go.sum
  pkg/api/aim/query/clause.go
  pkg/api/aim/query/query.go
  pkg/api/aim/query/query_test.go
  pkg/api/aim/runs.go
  pkg/database/database.go
  tests/integration/golang/aim/metric/search_test.go
  tests/integration/golang/mlflow/run/delete_test.go
Labels: enhancement

#190 Increase integration tests coverage for MLFlow
  tests/integration/golang/aim/run/archive_batch_test.go
  tests/integration/golang/aim/run/delete_batch_test.go
  tests/integration/golang/aim/run/delete_test.go
  tests/integration/golang/fixtures/app.go
  tests/integration/golang/fixtures/experiment.go
  tests/integration/golang/fixtures/metric.go
  tests/integration/golang/fixtures/run.go
  tests/integration/golang/fixtures/tag.go
  tests/integration/golang/helpers/client.go
  tests/integration/golang/helpers/run.go
  tests/integration/golang/helpers/tag.go
  tests/integration/golang/mlflow/experiment/create_test.go
  tests/integration/golang/mlflow/experiment/delete_test.go
  tests/integration/golang/mlflow/experiment/get_by_name_test.go
  tests/integration/golang/mlflow/experiment/get_test.go
  tests/integration/golang/mlflow/experiment/restore_test.go
  tests/integration/golang/mlflow/experiment/search_test.go
  tests/integration/golang/mlflow/experiment/set_experiment_tag_test.go
  tests/integration/golang/mlflow/experiment/update_test.go
  tests/integration/golang/mlflow/run/create_test.go
  tests/integration/golang/mlflow/run/delete_tag_test.go
  tests/integration/golang/mlflow/run/delete_test.go
  tests/integration/golang/mlflow/run/get_test.go
  tests/integration/golang/mlflow/run/log_batch_test.go
  tests/integration/golang/mlflow/run/log_metric_test.go
  tests/integration/golang/mlflow/run/log_parameter_test.go
  tests/integration/golang/mlflow/run/restore_test.go
  tests/integration/golang/mlflow/run/search_test.go
  tests/integration/golang/mlflow/run/set_tag_test.go
  tests/integration/golang/mlflow/run/update_test.go
Labels: tests

#211 Fix database migrations that recreate table twice and delete run data on SQLite
  pkg/database/database.go
Labels: bug

#184 Aim integration tests dashboard
  pkg/api/aim/request/dashboard.go
  pkg/api/aim/response/dashboard.go
  tests/integration/golang/aim/dashboard/create_dashboard_test.go
  tests/integration/golang/aim/dashboard/delete_dashboard_test.go
  tests/integration/golang/aim/dashboard/get_dashboard_test.go
  tests/integration/golang/aim/dashboard/get_dashboards_test.go
  tests/integration/golang/aim/dashboard/update_dashboard_test.go
  tests/integration/golang/fixtures/base.go
  tests/integration/golang/fixtures/dashboard.go
Labels: tests

#187 Aim integration tests for runs endpoints
  pkg/api/aim/api/request/run.go
  pkg/api/aim/request/run.go
  pkg/api/aim/response/project.go
  pkg/api/aim/response/run.go
  pkg/api/aim/response/success.go
  pkg/api/aim/runs.go
  tests/integration/golang/aim/experiment/get_experiment_activity_test.go
  tests/integration/golang/aim/experiment/get_experiment_runs_test.go
  tests/integration/golang/aim/project/get_project_params_test.go
  tests/integration/golang/aim/run/archive_batch_test.go
  tests/integration/golang/aim/run/delete_batch_test.go
  tests/integration/golang/aim/run/delete_test.go
  tests/integration/golang/aim/run/get_run_info_test.go
  tests/integration/golang/aim/run/get_run_metrics_test.go
  tests/integration/golang/aim/run/get_runs_active_test.go
  tests/integration/golang/aim/run/update_run_test.go
  tests/integration/golang/fixtures/run.go
Labels: tests
